/* global  */
html {
    scroll-behavior: smooth;
}

img {
    pointer-events: none;
}

a {
    position: relative;
    text-decoration: none;
}

li {
    margin-left: 30px;
}

* {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition:    all 1s ease-in-out;
    -ms-transition:     all 1s ease-in-out;
    -o-transition:      all 1s ease-in-out;
    transition:         all 1s ease-in-out;

    margin: 0;
    letter-spacing: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.water {
    /*color: var(--bkg-color); */
    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
    /* transition: color 4s;
    transition: text-shadow 0.2s;*/
    /* color: #fff; */
    /* font-size: 8em; */
    /*position: absolute;
    transform: translate(-50%, -50%); */

    transition: font-size 0.3s ease-in-out, letter-spacing 0.3s ease-in-out, color 0.3s ease-in-out;
}

.water:hover {
    /*font-size: 3.2vw;*/
    /*text-shadow: 5px 5px 20px var(--text-color);   */
    letter-spacing: 5px;
    color: var(--text-color); 
}

/* * * * * */

/* dark/light mode constants */
:root {
    --light-text-color: #222222;
    --light-bkg-color:  #ffffff;
    --light-nav-color:  #f6f6f6;

    --dark-text-color: #f6f6f6;
    --dark-bkg-color:  #1e1e1e;
    --dark-nav-color:  #262626;
}

body {
    --text-color: var(--light-text-color);
    --bkg-color:  var(--light-bkg-color);
    --nav-color:  var(--light-nav-color);
}

body.dark-theme {
    --text-color: var(--dark-text-color);
    --bkg-color:  var(--dark-bkg-color);
    --nav-color:  var(--dark-nav-color);
}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --text-color: var(--dark-text-color);
        --bkg-color:  var(--dark-bkg-color);
        --nav-color:  var(--dark-nav-color);
    }
    body.light-theme {
        --text-color: var(--light-text-color);
        --bkg-color:  var(--light-bkg-color);
        --nav-color:  var(--light-nav-color);
    }
}
/* * * * * * * * * * * * * * */

/* styling */
body {
    margin: 0;
    padding: 0;
    background: var(--bkg-color);
}

h1, h2, h3, h4, h5, h6, p, li, a {
    color: var(--text-color);
}

a {
    font-size: inherit;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1vw;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 700px) {
    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 4vw;
    }

    h4 {
        font-size: 3vw;
    }
    
    .content > :not(.imgbox) {
        padding-left: 0%;
        padding-right: 0%;
    }
}

input[type="checkbox"] {
    position: relative;
    left: 5px;
    top: 5px;
    display: flex;
    -webkit-appearance: none;
    appearance: none;
    visibility: hidden;
    display: none;
}

input[type="checkbox"]:checked ~ .check::before {
    transform: translateX(-50px);
}

input[type="checkbox"]:checked ~ .check::after {
    transform: translateX(0px);
}

.check {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    width: 40px;
    aspect-ratio: 2;
    background: var(--text-color);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

.check::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    background: var(--bkg-color);
    width: 12px;
    aspect-ratio: 1;
    scale: 1.5;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

.check::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    background: var(--bkg-color);
    width: 12px;
    aspect-ratio: 1;
    scale: 1.5;
    border-radius: 50%;
    transition: 0.5s;
}

nav {
    position: static;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    top: 0;
    width: auto;
    background-color: var(--nav-color);
}

#title {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: 20px;
    align-self: center;
    text-align: center;
}

.content {
    padding-top: 45px;
    padding-left: 0px;
}

.content > :not(.imgbox) {
    padding-top: 45px;
    padding-left: 15%;
}
/* * * * * */

body {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}

a::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--text-color);
    transition: width 0.3s;
}

a:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.socials {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding: 5%;
}

.fa-quote-left {
    position: absolute;
    left: 10%;
}

.fa-quote-right {
    position: absolute;
    right: 10%;
}